/**
 * @file react/src/styles/Pages/ToTrain.scss
 * @description
 * @author Tom Planche
 */

#to-train {
  padding: 0 5vw;
  min-height: 100vh;

  .presentation {
    margin: 5vh 0;

    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;

    overflow: hidden;

    .left, .right {
      height: 100%;

      &.left {
        padding: 0 2rem;
        width: 55%;

        // Blurry background
        background-color: #eeeeee25;
        backdrop-filter: blur(16px);
        -webkit-backdrop-filter: blur(16px); // Compatible with Safari

        h1 {
            font-size: 6rem;
            font-weight: 700;
            margin-bottom: 2rem;
            text-align: left;
        }

        p {
            font-size: 1.5rem;
            font-weight: 400;
            text-align: left;
            line-height: 2rem;
            letter-spacing: 0.075rem;
        }
      }

      &.right {
        right: 0;
        top: 0;
        height: 100%;
        width: 45%;

        overflow: hidden;

        display: flex;
        justify-content: center;
        align-items: center;

        position: relative;

        img {
          height: auto;
          width: 100%;
          object-fit: cover;
        }

        .filler {
            position: absolute;
            bottom: 0;
            left: 0;
            height: 20%;
            width: 60%;

            background: rgba(255, 255, 255);
        }

      }
    }

  }
}

/**
 * End of file react/src/styles/Pages/ToTrain.scss
 */
