// --------------------------------------- //
// ------------- COMPOSANTS -------------- //
// --------------------------------------- //
#footer {
    border: 3px black;
    background-color: red;
    width: 100%;
}

#header {
    border: 3px;
    background-color: blue;
    width: 100%;
}