// --------------------------------------- //
// ------------- COMPOSANTS -------------- //
// --------------------------------------- //

#header{
    height: max-content !important;
    margin: 20px 10vw;
    display: grid;
    grid-template-columns: 200px 1fr;

    .logo{
        height: 100px;
        width: 100px;

        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }


    }

    .menu{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        

        .top-nav{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid rgba(0, 0, 0, 0.399);

            .profile{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 10px;


                p{
                    font-family: 'Roboto', sans-serif;
                    font-weight: 700;
                    font-size: .8rem;
                    font-style: italic; 
                }

                img{
                    height: 30px;
                    width: 30px;
                    object-fit: cover;
                }
            }

            .consommation{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap : 10px;
                font-size: .8rem;
                font-style: italic; 

                .consommation-info{
                    display: flex;
                    flex-direction: row;
                    gap: 20px;
                }
            }

        }

        .bottom-nav{
            display: flex;
            flex-direction: row;

            ul{
                display: flex;
                flex-direction: row;
                gap: 20px;
                list-style: none;
                font-family: 'Roboto', sans-serif;
                font-weight: 700;
                font-size: .8rem;

                li{

                    &:nth-child(5){
                        padding-left: 100%;
                    }
                    a{
                        text-decoration: none;
                        color: black;
                        white-space: nowrap;


                        &::after{
                            content: "";
                            display: block;
                            width: 0%;
                            height: 2px;
                            background-color: black;
                            transition: width .3s;
                        }

                        &:hover::after{
                            content: "";
                            display: block;
                            width: 100%;
                            height: 2px;
                            background-color: black;
                        }

                        &::after{
                            content: "";
                            display: block;
                            width: 0%;
                            height: 2px;
                            background-color: black;
                            transition: width .3s;
                        }
                    }

                }
                select{
                    background-color: transparent;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 700;
                    font-size: .8rem;
                    cursor: pointer;
                    border-radius: 5px;

                    option{
                        background-color: white;
                        color: black;
                    }
                    
                }
            }
        }
    }
}