@import "../Variables.scss";


#inform {
    .firstArticle {
        padding: 8em 10vw;
        display: flex;
        position: relative;
        height: 40em;
        .datas {
                h1 {
                    font-size: 5.5em;
                    color: $black;
                    margin: 0 0 0.5em 0;
                    left: 1em;
                }
                p {
                    width: 50%;
                    font-size: 1.5em;
                }
        }
        img {
            position: absolute;
            max-height: calc(100% - 16em);
            margin: auto;
            right: 0;
            bottom: 8em;
            z-index: -1;
            left: 50%;
        }
    }
    .separateArticles {
        display: flex;
        justify-content: space-around;
        padding: 8em 10vw;
        .articles {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 4em 0;
            width: 100%;
            .titre {
                color: $green;
                font-size: 2.5em;
                margin: 0;
                text-transform: uppercase;
            }
            .sousTitre {
                color: $green;
                margin: 0 0 1em 0;
                color: $black;
                font-size: 2.5em;
            }
            .article {
                display: flex;
                width: 100%;
                height: 8em;
                padding: 1em;
                .imgContainer {
                    width: 8em;
                    height: 100%;
                    border-radius: 5px;
                    overflow: hidden;
                    margin-right: 1em;
                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }
                .title {
                    font-size: 2em;
                    margin: 0;
                    color: $black;
                    font-weight: bold;

                }
                a {
                    text-decoration: none;
                }
               
            }
        } 
        .savoirPlus {
            width: 100%;
            text-align: right;
            a {
                display: inline;
                margin-top: 2em;
                font-size: 1.5em;
                color: $green;
                margin: 0;
                text-decoration: underline;
                font-weight: bold;
                
            }
            .arrow {
                display: inline;
                font-weight: bold;
                color: $green;
                font-size: 2em;
                margin-left: 0.5em;
            }
           
        }

    
    }   
    
}