@import "../Variables.scss";


#inform {
    .firstArticle {
        padding: 8em 10vw;
        display: flex;
        position: relative;
        height: 40em;
        .datas {
                h1 {
                    font-size: 5.5em;
                    color: $black;
                    margin: 0 0 0.5em 0;
                    left: 1em;
                }
                p {
                    width: 50%;
                    font-size: 1.5em;
                }
        }
        img {
            position: absolute;
            max-height: calc(100% - 16em);
            margin: auto;
            right: 0;
            bottom: 8em;
            z-index: -1;
            left: 50%;
        }
    }
 

   
    
}