#news{
    margin: 50px 10vw;

    background: var(--background);
    color: var(--text-color);

    h1{
        font-size: 1.3rem;
        font-weight: 700;
        margin-bottom: 20px;
        color: #5A8F69;
        font-style: italic;
        text-decoration: underline;
    }
}
